.detail__container {
  display: flex;
  width: 50%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  margin: 15vh auto;
  color: white;
  background-color: #042940e7;
  border: 0.5rem solid var(--lime);
  padding: 2rem 4rem;
  position: relative;
  border-radius: 15px;
}

.detail__container img {
  border-radius: 15px;
  position: absolute;
  left: 0;
  margin-left: 2rem;
  height: 80%;
  border: 2px solid var(--lime);
}

.text {
  position: absolute;
  right: 0;
  margin-right: 2rem;
}
