.card {
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  padding: 15px;
  margin: 10px;
  background-color: #000000d5;
  color: white;
  border-radius: 15px;
}

.card img{
  border-radius: 15px;
}

.card button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: red;
  border: solid 2px red;
  border-radius: 100%;
  cursor: pointer
}

.card button:hover{
  cursor: pointer;
  background-color: white;
}