:root{
   --blue: #042940;
   --dark-green: #005C53;
   --light-green : #9FC131;
   --lime: #DBF227;
   --cream: #D6D58E;
} 

.App {
   margin: 0 auto;
   background-image: url('./assets/bg3.png');
   background-repeat: no-repeat;
   background-size: 100vw;
   background-attachment: fixed;
   text-align: center;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
