.App {
   margin: 0 auto;
   background-image: url('./assets/bg3.png');
   background-repeat: no-repeat;
   background-size: 100vw;
   background-attachment: fixed;
   text-align: center;
   display: flex;
   flex-direction: column;
}
