.nav__container{
  display: flex;
  flex-direction: row;
  background-color: var(--blue);
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  color: white;
}

.img {
  width: 100px;
  border-radius: 50%;
}

.link{
  background-color: var(--dark-green);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--lime);
  min-width: 10%;
  height: 2.5rem;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 10px;
}

.link:hover{
  background-color: var(--light-green);
  border: solid 2px var(--lime);
  color: black;
}

